* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../JPG/library.jpg);
    background-size: 105%;
}


.catface {
    position: fixed;
    top: 60%;
    left: 40%;
    width: 20vw;
}


.book {
    position: fixed;
    top: 10%;
    width: 13vw;
    height: 19vw;
    background-color: gray;
    cursor: pointer;
    transition: 0.3s;
}

.snow {
    left: 4%;
    background-image: url(../JPG/whitefox.jpg);
    background-size: cover;
}

.fanta {
    left: 43%;
    background-image: url(../JPG/fantasie-eiland.jpg);
    background-size: cover;
}

.dumie {
    right: 4%;
    background-image: url(../JPG/dummie.jpg);
    background-size: cover;
}


.book:hover {
    width: 16vw;
    height: 22vw;
}


.bigbook {
    display: none;
    position: fixed;
    top: 10%;
    left: 4%;
    width: 25%;
    height: 62%;
    background-color: grey;
    background-size: cover;
}


.bookface {
    display: none;
    position: fixed;
    top: 55%;
    left: 40%;
    width: 22vw;
}

.butt {
    display: none;
    position: relative;
    float: right;
    width: 4vw;
    right: 1%;
    cursor: pointer;
}

.bubble {
    position: fixed;
    top: 45%;
    left: 54%;
}

.newbubble {
    display: none;
    position: fixed;
    top: 45%;
    left: 54%;
}